* {
  margin: 0;
  padding: 0;
}

:root {
  --board-length: 3;
  --cell-size: 6rem;
  font-family: "Caveat", cursive, 'Courier New', Courier, monospace;
  background-color: #fed7aa;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #fdba74;
  display: block;
  line-height: 5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  user-select: none;
}
.cell.o {
  color: #65a30d;
}
.cell.x {
  color: #b91c1c;
}
.board {
  display: grid;
  grid-template-columns: repeat(var(--board-length), var(--cell-size));
  margin-left: auto;
  margin-right: auto;
  margin-top: 16rem;
  width: fit-content;
  gap: 2px;
  background-color: #9a3412;
  border: 5px solid #9a3412;
}
.board:not(.finished) .cell:not(.moved):hover {
  background-color: #fed7aa;
  cursor: pointer;
}
.content-holder {
  font-size: 2rem;
  min-height: 1.2rem;
  font-weight: bold;
  color: #9a3412;
}
.board.finished .cell {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  z-index: 2;
}
.title-holder {
  display: inline-block;
  width: 4rem;
  text-align: right;
  margin-right: 3rem;
  margin-left: 2rem;
}
.game-holder {
  width: calc(var(--cell-size) * var(--board-length) + 5rem);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
.sidebar {
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
}
.option {
  font-size: 2rem;
  width: 12rem;
  height: 4rem;
  background-color: #fdba74;
  padding: 1rem;
  margin: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  border: 2px solid #9a3412;
  font-family: "Caveat", cursive, 'Courier New', Courier, monospace;
  color: #9a3412;
}
.option:hover {
  cursor: pointer;
  background-color: #fed7aa;
}
.footer {
  padding: 0.2rem;
  width: 100%;
  background-color: #fdba74;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer img {
  width: 1.5rem;
  margin-bottom: -0.2rem;
}
.footer a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
form {
  background-color: #fed7aa;
  border: 5px solid #9a3412;
  padding: 3rem;
  font-size: 3rem;
  color: #9a3412;
}
form label {
  display: inline-block;
  width: 15rem;
  text-align: right;
}
form input {
  background-color: #fdba74;
  width: 12rem;
  outline: none;
  height: 2rem;
  border: 2px solid #9a3412;
  color: #9a3412;
  font-weight: bolder;
  padding: 0.5rem;
  font-size: 2rem;
  font-family: "Caveat", cursive, 'Courier New', Courier, monospace;
}
form input:focus {
  background-color: #fed7aa;
}
.form-row {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  flex-wrap: wrap;
}
dialog {
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 16rem auto;
  margin-bottom: 5rem;
}
dialog::backdrop {
  background-image: linear-gradient(#fed7aa, #fed7aa);
  opacity: 0.5;
}
form button {
  width: 10rem;
  background-color: #fdba74;
  padding: 1rem;
  font-size: 2rem;
  border: 2px solid #9a3412;
  color: #9a3412;
}
form button:hover {
  cursor: pointer;
  background-color: #fed7aa;
}
.form-button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}